@model GLOVO.Models.FoodModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FoodModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)"
        </dt>

        <dd>
            <img style="width: 100px; height: 100px" src="@Html.DisplayFor(model => model.ImageUrl)">
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrdersCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdersCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
